<%- include('../partials/user/header.ejs') %>
    <link rel="stylesheet" href="order-styles.css">
    <div class="wrapper">
        <div class="user-profile-container">
            <div class="user-details">
                <div class="header-container">
                    <h1>Your Orders</h1>
                <button class="btn btn-warning" onclick="window.location.href='/profile';">Go to Profiles</button>
                </div>
                
                <div class="order-info">
                    <% if (orders.length> 0) { %>
                        <% orders.forEach(order=> { %>
                            <div class="order-card">
                                <a href="/order-detail?id=<%= order._id %>" class="order-link">
                                    <h2>Order ID: <%= order.orderId %>
                                    </h2>
                                    <p class="price-text">Total Price: <span class="price-amount">₹<%=
                                                order.totalPrice.toFixed(2) %></span></p>
                                    <p><span class="strong-text">Payment Status:</span> <span
                                            class="payment-status <%= order.paymentStatus.toLowerCase() %>">
                                            <%= order.paymentStatus %>
                                        </span></p>
                                    <div class="order-items">
                                        <% order.items.forEach(item=> { %>
                                            <div class="order-item-detail">
                                                <img src="/uploads/product-images/<%= item.product.image[0] %>"
                                                    alt="<%= item.product.productName %>" class="product-image">
                                                <div>
                                                    <span class="strong-text product-name"><%= item.product.productName %></span>
                                                    <br>
                                                        <span class="strong-text">Quantity:</span>
                                                        <%= item.quantity %><br>
                                                            <span class="strong-text">Status:</span>
                                                            <%= item.status %>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </a>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <p>No orders found.</p>
                                    <% } %>
                </div>
                <div class="pagination">
                    <% if (totalPages> 1) { %>
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <a href="?page=<%= i %>" class="<%= i === page ? 'active' : '' %>">
                                <%= i %>
                            </a>
                            <% } %>
                                <% } %>
                </div>
            </div>

        </div>
    </div>

    <%- include('../partials/user/footer.ejs') %>